@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: linear-gradient(256.47deg, #5E2AB3 2.64%, #161E6C 140.46%);
  /* 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* border: #ff000f solid 1px !important; */
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #5E2AB3;
}

::-webkit-scrollbar-thumb {
  background: #5626a4;
}

::-webkit-scrollbar-thumb:hover {
  background: #8800ff;
}

::-webkit-scrollbar-thumb:active {
  background: #8800ff;
}

::-webkit-scrollbar-corner {
  background: #5E2AB3;
}

::-webkit-scrollbar-button {
  display: none;
}

.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #FFFFFF 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, #FFFFFF);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
}

@keyframes s3 {
  100% {
    transform: rotate(1turn)
  }
}